<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<% include ../partials/nav.ejs %>
</head>

<body>

	<div>
		<% include ../pages/jumbotron.ejs %>
		<% include ../pages/profile.ejs %>
	</div>
	
</body>
</html>
