<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<% include ../partials/nav.ejs %>
</head>

<body>
	<% include ../pages/jumbotron.ejs %>
	<% include ../pages/about.ejs %>
	<% include ../pages/about-2.ejs %>
	<% include ../pages/sign-up.ejs %>

</body>
	<% include ../partials/footer.ejs %>
</html>
